/* 
    GENERAL
*/
.container {
    max-width: 1000px;
    margin: 0 auto;
}

.my-row {
    display: flex;
    flex-wrap: wrap;
}

/* 
    APP
*/
main {
  text-align: center;
}

/* 
    FONT
*/

* {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}